<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>All Booked Up</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon"  href=" {{ url_for('static', filename='img/books.ico')}}">

   <!-- Font Icon -->
    <link rel="stylesheet" href="{{ url_for('static', filename= 'fonts/material-icon/css/material-design-iconic-font.min.css' )}} ">

    <!-- Main css -->
    <link rel="stylesheet" href=" {{ url_for('static', filename='css/stylelogin.css')}}">
</head>
<body>

    <div class="main" style= "
  background-image:url('/static/img/hero/login.jpg');
    
    
     ">

               <!-- Sign up form -->
        <section class="signup" style="display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        min-height: 100vh;
        margin-top: -12%;
       ">
            <div class="container"  style="width: 70%; height: 25%; opacity:0.8;">
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title">Create An Account</h2>
                        <form method="POST" class="register-form" id="register-form" >
                            <div class="form-group">
                                <label for="firstname"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" name="first_name" id="first_name" placeholder="First Name" required />
                            </div>
                            <div class="form-group">
                                <label for="lastname"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" name="last_name" id="last_name" placeholder="Last Name" required/>
                            </div>
                            <div class="form-group">
                                <label for="login_id"><i class="zmdi zmdi-email"></i></label>
                                <input type="email" name="login_id" id="login_id" placeholder="Email Address" required/>
                            </div>
                            <div class="form-group">
                                <label for="password"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" name="password" id="password" placeholder="Password" required/>
                            </div>
                            <div class="form-group">
                                <label for="re_pass"><i class="zmdi zmdi-lock-outline"></i></label>
                                <input type="password" name="re_pass" id="re_pass" placeholder="Repeat your password" required/>
                            </div>


                            <div class="form-group form-button">
                                <input type="submit" name="signup" id="signup" class="form-submit" value="Register" style="background-color: #7BAA59;"/>
                            </div>
                        </form>
                             <script>
                              var password = document.getElementById("password")
                              , confirm_password = document.getElementById("re_pass");
                              function validatePassword(){
                              if(password.value != confirm_password.value) {
                                confirm_password.setCustomValidity("Passwords Don't Match");
                              } else {
                                confirm_password.setCustomValidity('');
                              }
                                }
                                password.onchange = validatePassword;
                                confirm_password.onkeyup = validatePassword;
                            </script>
                    </div>
                    <div class="signup-image">
                        <figure><img src="/static/img/hero/signup.jpg" alt="sign up image"></figure>
                        <a href="/" class="signup-image-link">I am already member</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
            <!-- JS -->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/js/main.js"></script>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>



</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>